<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/log.txt">

  <!-- Define various log targets -->
  <targets>
    <!-- Target for sending emails -->
    <!-- <target xsi:type="Mail"
                name="mail"
                subject="Supplier-Service Failed-local"
                smtpServer="smtp.gmail.com"
                smtpPort="587"
                smtpAuthentication="Basic"
                from="kavipriyaduraisamy.innowave@gmail.com"
                to="kavipriyaduraisamy.innowave@gmail.com"
                layout="${longdate} ${level} ${message} ${exception:format=ToString,StackTrace}"
                smtpUsername="kavipriyaduraisamy.innowave@gmail.com"
                smtpPassword="wvvcoqpeyiewabzp"
                enableSsl="true"/> -->
 
			<target name="infoFile" xsi:type="File"
            layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} [${threadname:whenEmpty=${threadid}}] ${logger} ${message} | ${exception:format=tostring}"
			 fileName="${basedir}/logs/log.txt" maxArchiveDays="10" maxArchiveFiles="90"	keepFileOpen="false" archiveAboveSize="5242880"  encoding="utf-8" />
	
  <target name="errorFile" xsi:type="File"
            layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} [${threadname:whenEmpty=${threadid}}] ${logger} ${message} | ${exception:format=tostring}"
			 fileName="${basedir}/logs/log.txt" maxArchiveDays="10" maxArchiveFiles="90"	keepFileOpen="false" archiveAboveSize="5242880"  encoding="utf-8" />
  </targets>

  <!-- Rules to specify when to log and where -->
  <rules>
     <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="infoFile" />
     <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="errorFile" />

    <!-- Log errors to the mail target -->
    <!-- <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="mail" /> -->
  </rules>
</nlog>